VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_GCAL_BOOKING_WEBAPP_URL=https://script.google.com/macros/s/AKFYCB.../exec
VITE_GCAL_BOOKING_API_KEY=change_me_with_a_long_random_secret
VITE_GCAL_BOOKING_DURATION_MINUTES=60
